<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Employee Feedback Table</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive text-nowrap table-container">
            <table class="table">
              <thead class="text-primary">
                <th class="text-center">Training ID</th>
                <th class="text-center">Course Name</th>
                <th class="text-center">Trainer Name</th>
                <th class="text-center">Start Date</th>
                <th class="text-center">End Date</th>
                <th class="text-center">Status</th>
                <th class="text-center">Give Feedback</th>
              </thead>
              <tbody>
                <tr *ngFor="let training of trainings" class="expandable-row">
                  <td class="text-center">{{ training.id }}</td>
                  <td class="text-center">{{ training.courseName }}</td>
                  <td class="text-center">{{ training.trainerName }}</td>
                  <td class="text-center">{{ training.startDate }}</td>
                  <td class="text-center">{{ training.endDate }}</td>
                  <td class="text-center">{{ training.status }}</td>
                  <td class="text-center"><a *ngIf="training.status === 'COMPLETED'" [routerLink]="['/feedback-form', training.id]">Give Feedback</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  