<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Employee Feedback Table</h4>
        </div>
        <div class="card-body">
          <div class="form-inline mb-3">
            <label for="searchTerm" class="mr-1">Search:</label>
            <input type="text" class="form-control" id="searchTerm" [(ngModel)]="searchTerm" (input)="performSearch()">
          </div>
          <div class="table-responsive table-container">
            <table class="table">
              <thead class="text-primary text-center">
                <th>SR. NO</th>
                <th>Course Name</th>
                <th>Trainer Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Give Feedback</th>
              </thead>

              <tbody>
                <tr *ngFor="let training of trainings.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)" class="expandable-row text-center"> 
                  <td>{{ training.id }}</td>
                  <td>{{ training.courseName }}</td>
                  <td>{{ training.trainerName }}</td>
                  <td>{{ training.startDate }}</td>
                  <td>{{ training.endDate }}</td>
                  <td>{{ training.status }}</td>
                  <td><a *ngIf="training.status === 'COMPLETED'" [routerLink]="['/feedback-form', training.id]">Give Feedback</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="d-flex justify-content-end">
            <div class="form-inline mb-3">
              <label for="rowsPerPage" class="mr-1">Rows per Page:</label>
              <select class="form-control" id="rowsPerPage" [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage($event)">
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
            </div>
          
          
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-md">
                <li class="page-item" (click)="currentPage = (currentPage > 1) ? currentPage - 1 : 1" [class.disabled]="currentPage === 1">
                  <a class="page-link">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of pages" (click)="currentPage = page">
                  <a class="page-link">{{ page }}</a>
                </li>
                <li class="page-item" (click)="currentPage = (currentPage < pages.length) ? currentPage + 1 : currentPage">
                  <a class="page-link">Next</a>
                </li>
              </ul>
            </nav>
        </div>
        </div>
      </div>
    </div>
  </div>

  