<div class="card">
    <div class="card-header bg-dark text-white">
        <h4 class="card-title">Training Details For: {{ course }}</h4>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">Training Category:</label>
                    <div>{{ trainingDetails.training_category }}</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">Training Type:</label>
                    <div>{{ trainingDetails.training_type }}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">Course Description:</label>
                    <div>{{ trainingDetails.course_description }}</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">Prerequisites:</label>
                    <div>{{ trainingDetails.prerequisites }}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">Total Days:</label>
                    <div>{{ trainingDetails.total_days }}</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">Course Link:</label>
                    <div><a href="{{ trainingDetails.url }}" target="_blank">{{ trainingDetails.url }}</a></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">Username:</label>
                    <div>{{ trainingDetails.username }}</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold">Password:</label>
                    <div>{{ trainingDetails.password }}</div>
                </div>
            </div>
        </div>

    </div>
</div>
