<!-- student_list.component.html -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/admin-attendance']">Training Details</a></li>
    <li class="breadcrumb-item active" aria-current="page">Attendees Details</li>
  </ol>
</nav>
<!-- Bootstrap table for studentList -->
<div class="card">
    <div class="card-header">
      <h4 class="card-title">Attendees Details</h4>
    </div>
    <div class="card-body">
      <!-- Your existing details section -->
  
      <div class="form-group">
        <label for="search">Search:</label>
        <input class="col-md-3 form-control" type="text" id="search" [(ngModel)]="searchValue" (input)="applyFilter()">
      </div>
      <div class="table-responsive table-container">
        <table class="table">
          <thead class="text-primary">
              <th *ngFor="let header of studentList.headerRow" >{{ header }}</th>
          </thead>
          <tbody>
            <!-- Use *ngFor to loop through filteredData and display each record -->
            <tr *ngFor="let row of filteredData.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)" class="expandable-row">
              <td>{{ row.emp_code }}</td>
              <td>{{ row.emp_name }}</td>
              <td>{{ row.c_name }}</td>
              <td>{{ row.t_name }}</td>
              <td>{{ start_date }}</td> 
              <td>{{ end_date }}</td>
              <td>{{ status }}</td>
              <td><a class="btn btn-primary" [routerLink]="['/attendance-record',{ emp_code: row.emp_code, c_name: row.c_name, t_name: row.t_name, status: status, start_date: start_date, end_date: end_date} ]">{{ row.view }}</a></td>
              <!-- Add more cells as needed -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <div class="form-inline mb-3">
          <label for="rowsPerPage" class="mr-1">Rows per Page:</label>
          <select class="form-control" id="rowsPerPage" [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage($event)">
            <option value="5">5</option>
            <option value="10">10</option>
          </select>
        </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-md">
            <li class="page-item" (click)="currentPage = (currentPage > 1) ? currentPage - 1 : 1" [class.disabled]="currentPage === 1">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of pages" (click)="currentPage = page">
              <a class="page-link">{{ page }}</a>
            </li>
            <li class="page-item" (click)="currentPage = (currentPage < pages.length) ? currentPage + 1 : currentPage">
              <a class="page-link">Next</a>
            </li>
          </ul>
        </nav>
    </div>
  </div>
  