<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/trainer-dashboard']">Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/give-feedback']">Training Details</a></li>
    <li class="breadcrumb-item active" aria-current="page">Attendees Details</li>
  </ol>
</nav>
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Attendees Details</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="search">Search:</label>
                <input class="col-md-3 form-control" type="text" id="search" [(ngModel)]="searchValue" (input)="applyFilter()">
            </div>

          <div class="table-responsive table-container">
            <table class="table">
              <thead class="text-primary">
                <th *ngFor="let header of tableData1.headerRow">{{ header }}</th>
              </thead>
              <tbody>
                <!-- filteredData changed to tableData1.dataRows -->
                <tr *ngFor="let row of filteredData " class="expandable-row">
                    <td>{{ row.s_no }}</td>
                    <td>{{ row.emp_code }}</td>
                    <td>{{ row.emp_name }}</td>
                    <td>{{ row.startDate }}</td>
                    <td>{{ row.endDate }}</td>
                    <td>{{ row.tstatus }}</td>
                    <!-- <td><a [routerLink]="['/feedback-to-employee', {startDate:startDate , endDate: endDate, tstatus: tstatus}]">{{ row.feedback }}</a></td> -->
                    <td>
                      <button (click)="navigateToFeedback(row.emp_code, row.startDate, row.endDate, row.tstatus)" class="btn btn-primary">Give</button>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
