
<!-- schedule-list.component.html -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Schedule Data</h4>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="form-group">
            <label for="search">Search:</label>
            <input class="col-md-12 form-control" type="text" id="search" [(ngModel)]="searchValue" (ngModelChange)="applyFilter()">
          </div>
        </div>
        <div class="table-responsive text-nowrap table-container">
          <table class="table">
            <thead class="text-primary">
              <th *ngFor="let header of tableData1.headerRow" class="text-center">{{ header }}</th>
            </thead>
            <tbody>
              <ng-container *ngFor="let row of filteredData; let i = index">
                <tr class="expandable-row">
                  <td class="text-center">{{ row.number }}</td>
                  <td class="text-center">{{ row.course }}</td>
                  <td class="text-center">{{ row.trainer_name }}</td>
                  <td class="text-center">{{ row.planned_start_date }}</td>
                  <td class="text-center">{{ row.planned_end_date }}</td>
                  <td class="text-center">{{ row.from_time }}</td>
                  <td class="text-center">{{ row.to_time}}</td>
                  <td class="text-center">{{ row.status}}</td>
                  <td class="text-center">
                    <button class="btn btn-primary" (click)="toggleEditMode(i)">Edit{{ row.action }}</button>
                  </td>
                </tr>
                <tr *ngIf="isEditMode && i === rowIndexBeingEdited">
                  <td class="text-center">
                    <input [(ngModel)]="filteredData[i].number" [disabled]="true" class="text-center">
                  </td>
                  <td class="text-center">
                    <input [(ngModel)]="filteredData[i].course" [disabled]="true" class="text-center">
                  </td>
                  <td class="text-center">
                    <input [(ngModel)]="filteredData[i].trainer_name" [disabled]="true" class="text-center">
                  </td>
                  <td class="text-center">
                    <input [(ngModel)]="filteredData[i].planned_start_date" [disabled]="!isEditMode || i !== rowIndexBeingEdited" class="text-center">
                  </td>
                  <td class="text-center">
                    <input [(ngModel)]="filteredData[i].planned_end_date" [disabled]="!isEditMode || i !== rowIndexBeingEdited" class="text-center">
                  </td>
                  <td class="text-center">
                    <input [(ngModel)]="filteredData[i].from_time" [disabled]="!isEditMode || i !== rowIndexBeingEdited" class="text-center">
                  </td>
                  <td class="text-center">
                    <input [(ngModel)]="filteredData[i].to_time" [disabled]="!isEditMode || i !== rowIndexBeingEdited" class="text-center">
                  </td>
                  <td class="text-center">
                    <input [(ngModel)]="filteredData[i].status" [disabled]="false" class="text-center">
                  </td>
                  <td class="text-center">
                    <button class="btn btn-success" (click)="saveChanges(i)">Save</button>&nbsp;
                    <button class="btn btn-success" (click)="cancelEdit()">Cancel</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end">
          <div class="form-inline mb-3">
            <label for="rowsPerPage" class="mr-1">Rows per Page:</label>
            <select class="form-control" id="rowsPerPage" [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage($event)">
              <option value="5">5</option>
              <option value="10">10</option>
            </select>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-md">
              <li class="page-item" (click)="onPageChange(currentPage - 1)" [class.disabled]="currentPage === 1">
                <a class="page-link">Previous</a>
              </li>
              <li class="page-item" *ngFor="let page of pages" (click)="onPageChange(page)" [class.active]="currentPage === page">
                <a class="page-link">{{ page }}</a>
              </li>
              <li class="page-item" (click)="onPageChange(currentPage + 1)" [class.disabled]="currentPage === pages.length">
                <a class="page-link">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
