<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Attendees Details</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="search">Search:</label>
                <input class="col-md-3 form-control" type="text" id="search" [(ngModel)]="searchValue" (input)="applyFilter()">
            </div>
          <div class="table-responsive table-container">
            <table class="table">
              <thead class="text-primary">
                <th *ngFor="let header of tableData1.headerRow">{{ header }}</th>
                <th *ngFor="let day of trainingDays">{{ day }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let row of filteredData" class="expandable-row">
                    <td>{{ row.sr_no }}</td>
                    <td>{{ row.emp_code }}</td>
                    <td>{{ row.emp_name }}</td>
                    <td>{{ start_date }}</td>
                    <td>{{ end_date }}</td>
                    <td><button class="btn btn-primary" (click)="addTrainingDay()">{{ row.attendance }}</button></td>
                    <td *ngFor="let day of trainingDays">
                      <button class="btn" 
                      [class.btn-success]="row.attendanceStatus[day] === 'Present'" 
                      [class.btn-danger]="row.attendanceStatus[day] === 'Absent'"
                      (click)="toggleAttendanceStatus(row, day)">
                        {{ row.attendanceStatus[day] || 'Mark' }}
                      </button>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  
  

