<!-- schedule-training.component.html -->
<div class="row">
<div class="col">
<div class="card ">
<div class="card-header">
<h5 class="card-title">Add Schedule</h5>
</div>

<div class="card-body">
<form (ngSubmit)="onSubmit()"  [formGroup]="trainingForm" class="col">
<!-- First Row -->
<div class="row">

<div class="col-md-4 ">
<div class="form-group">
<label>Course</label>
<input type="text" id="course" name="course" formControlName="course" class="form-control" required>
<div *ngIf="trainingForm.get('course').invalid && (trainingForm.get('course').dirty || trainingForm.get('course').touched)">
<small class="text-danger" *ngIf="trainingForm.get('course').errors.required">Course Name is required</small>
</div>
</div>
</div>


<div class="col-md-4 ">
<div class="form-group">
<label>Trainer Name</label>
<input type="text" id="trainerName" name="trainerName" formControlName="trainerName" class="form-control" required>
<div *ngIf="trainingForm.get('trainerName').invalid && (trainingForm.get('trainerName').dirty || trainingForm.get('trainerName').touched)">
<small class="text-danger" *ngIf="trainingForm.get('trainerName').errors.required">Trainer Name is required</small>
</div>
</div>
</div>

<div class="col-md-4 ">
<div class="form-group">
<label>Planned Start Date </label>
<input type="date" id="planned start date" name="planned start date" formControlName="plannedStartDate" class="form-control" required>
<div *ngIf="trainingForm.get('plannedStartDate').invalid && (trainingForm.get('plannedStartDate').dirty || trainingForm.get('plannedStartDate').touched)">
<small class="text-danger" *ngIf="trainingForm.get('plannedStartDate').errors.required">Date is required</small>
</div>
</div>
</div>

</div>

<!-- Second Row -->
<div class="row">
<div class="col-md-4 ">
<div class="form-group">
<label>Planned End Date </label>
<input type="date" id="planned end date" name="planned end date" formControlName="plannedEndDate" class="form-control" required>
<div *ngIf="trainingForm.get('plannedEndDate').invalid && (trainingForm.get('plannedEndDate').dirty || trainingForm.get('plannedEndDate').touched)">
<small class="text-danger" *ngIf="trainingForm.get('plannedEndDate').errors.required">Date is required</small>
</div>
</div>
</div>

<div class="col-md-4 ">
<div class="form-group">
<label>From Time </label>
<input type="time" id="from time" name="from time" formControlName="fromTime" class="form-control" required>
<div *ngIf="trainingForm.get('fromTime').invalid && (trainingForm.get('fromTime').dirty || trainingForm.get('fromTime').touched)">
<small class="text-danger" *ngIf="trainingForm.get('fromTime').errors.required">Time is required</small>
</div>
<p>{{ trainingForm.value.fromTime | formatTime }}</p>


</div>
</div>

<div class="col-md-4 ">
<div class="form-group">
<label>To Time </label>
<input type="time" id="to time" name="to time" formControlName="toTime" class="form-control" required>
<div *ngIf="trainingForm.get('toTime').invalid && (trainingForm.get('toTime').dirty || trainingForm.get('toTime').touched)">
<small class="text-danger" *ngIf="trainingForm.get('toTime').errors.required">Time is required</small>
</div>
<p>{{ trainingForm.value.fromTime | formatTime }}</p>

</div>
</div>

</div>

<div class="row">

<div class="col-md-4 ">
<div class="form-group">
<label>Status </label>
<select class="form-control" id="trainingStatus" name="trainingStatus" formControlName="trainingStatus" required>
    <option value="Upcoming">Upcoming</option>
</select>
</div>
</div>


</div>


<!-- Buttons -->
<div class="row justify-content-end mt-3">
<div class="col-md-4">
<div class="d-flex justify-content-end">
<button type="reset" class="btn btn-danger">Cancel</button>
<button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!trainingForm.valid" >Save</button>
</div>
</div>
</div>

</form>
</div>
</div>
</div>
</div>


