<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/attendance']">Attendance Table</a></li>
    <li class="breadcrumb-item active" aria-current="page">Attendance Details</li>
  </ol>
</nav>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Attendance Details</h4>
      </div>
      <div class="d-flex justify-content-end mr-3">
        <button type="button" class="btn btn-primary" (click)="toggleExpandedDates()"> Add Attendance</button>
      </div>
      <div class = "d-flex justify-content-end mr-3">
        <i class = "fa fa-refresh fa-spin" (click)="reloadTable()" style="font-size: 240%; color: blue;"></i>
      </div>
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead class="text-primary">
              <th class="text-center" *ngFor="let header of tableData1.headerRow">
                {{ header }}
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData1.dataRows; let i = index" class="expandable-row">
                <td class="text-center">{{ row.emp_code }}</td>
                <td class="text-center">{{ row.emp_name }}</td>
                <td class="text-center">{{ course_name }}</td>
                <td class="text-center">{{ trainer_name }}</td>
                <td class="text-center">{{ start_date }}</td>
                <td class="text-center">{{ end_date }}</td>
                <td class="text-center">{{ row.status }}</td>
                <td *ngFor="let date of tableData1.headerRow.slice(7); let i = index">
                  <div *ngIf="showExpandedDates">
                    <button type="button" *ngIf="!row.attendance[date]" class="btn btn-success btn-sm" (click)="markAttendance(row, date, 'Present')">Present</button>
                    <button type="button" *ngIf="!row.attendance[date]" class="btn btn-danger btn-sm ml-1" (click)="markAttendance(row, date, 'Absent')">Absent</button>
                  </div>
                  <div *ngIf = "!startEdit()">
                    {{ row.attendance[date] }} 
                  <div *ngIf = "startEdit()">
                  <input type = "text" [(ngModel)] = "editAttendanceStatus">
                  </div>
                  </div>
                </td>
                <td>
                  <div *ngIf="!isEdit">
                  <i class="fa fa-edit" *ngIf = "row.attendance[date]"  style="color:green" (click) = "startEdit()"></i>
                  <i class = "fa fa-trash" *ngIf = "row.attendance[date]" style = "color: red"></i>
                  </div>
                  <div *ngIf = "isEdit" class = "update-button-expanded">
                    <i class = "fa fa-check" style = "color:blue"></i>
                    <i class = "fa fa-times" style = "color:red"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>