<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Completed Training Details</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="search">Search:</label>
                <input class="col-md-3 form-control" type="text" id="search" [(ngModel)]="searchValue" (input)="applyFilter()">
            </div>
          <div class="table-responsive table-container">
            <table class="table">
              <thead class="text-primary">
                <th *ngFor="let header of tableData1.headerRow">{{ header }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let row of filteredData" class="expandable-row">
                    <td>{{ row.sr_no }}</td>
                    <td>{{ row.c_name }}</td>
                    <td>{{ row.s_date }}</td>
                    <td>{{ row.e_date }}</td>
                    <td>{{ row.status }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  