9<div class="card">
    <div class="card-header">
        <h4 class="card-title text-primary">Training Feedback</h4>
    </div>

    <div class="card-body">
        <form [formGroup]="saveForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="effectiveness" style="font-size: 120%;">Effectiveness of Training: <span id="effectiveness_value" class="value"><strong style="color: #0408e7; font-size: 120%;">{{ effectivenessValue }}</strong></span></label>
                    <div>
                    <input type="range" class="form-range" step="1" value="0" min="0" max="5" id="effectiveness" (input)="updateRating('effectiveness', 'effectivenessValue')">
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="content" style="font-size: 120%">Content of Training: <span id="content_value" class="value"><strong style="color: #0408e7; font-size: 120%;">{{ contentValue }}</strong></span></label>
                    <div>
                    <input type="range" class="form-range" step="1" value="0" min="0" max="5" id="content" (input)="updateRating('content', 'contentValue')">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="methodology" style="font-size: 120%;">Effectiveness of Training Methodology: <span id="methodology_value" class="value"><strong style="color: #0408e7; font-size: 120%;">{{ methodologyValue }}</strong></span></label>
                    <div>
                    <input type="range" class="form-range" step="1" value="0" min="0" max="5" id="methodology" (input)="updateRating('methodology', 'methodologyValue')">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="organization" style="font-size: 120%;">Organization of Training: <span id="organization_value" class="value"><strong style="color: #0408e7; font-size: 120%;">{{ organizationValue }}</strong></span></label>
                    <div>
                    <input type="range" class="form-range" step="1" value="0" min="0" max="5" id="organization" (input)="updateRating('organization', 'organizationValue')">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="trainer_rating" style="font-size: 120%;">Trainer Rating: <span id="trainer_rating_value" class="value"><strong style="color: #0408e7; font-size: 120%;">{{ trainingRatingValue }}</strong></span></label>
                    <div>
                    <input type="range" class="form-range"  min="0" max="5" value="0" step="1" id="trainer_rating" (input)="updateRating('trainer_rating', 'trainingRatingValue')">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="comments" style="font-size: 120%;">Comments from Employee: </label>
                    <div>
                    <textarea class="form-control" id="commentsFromEmp" name="commentsFromEmp" formControlName="commentsFromEmp" rows="4"></textarea>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </div>
        </div>

    </form>
    </div>

<!-- Add canvas elements for charts -->
<!-- 
<div class="card">
    <canvas #chartCanvas id="feedbackChart" width="200" height="100"></canvas>
  </div> -->
  

</div>


