<!-- feedback-form.component.html -->
<div class="card">
    <div class="card-header">
        <h4 class="card-title text-primary">Training Feedback</h4>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="technical_skills" style="font-size: 120%;">Technical Skills: <span id="technical_skills_value" class="value"><strong style="color: #0408e7; font-size: 120%;">{{ technicalSkillsValue }}</strong></span></label>
                    <div>
                    <input type="range" class="form-range" step="1" value="0" min="0" max="5" id="technical_skills" (input)="updateRating('technical_skills', 'technicalSkillsValue')">
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="grasping_power" style="font-size: 120%">Grasping Power: <span id="grasping_power_value" class="value"><strong style="color: #0408e7; font-size: 120%;">{{ graspingPowerValue }}</strong></span></label>
                    <div>
                    <input type="range" class="form-range" step="1" value="0" min="0" max="5" id="grasping_power" (input)="updateRating('grasping_power', 'graspingPowerValue')">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="proactiveness" style="font-size: 120%;">Pro-Activeness: <span id="pro_activeness_value" class="value"><strong style="color: #0408e7; font-size: 120%;">{{ proActivenessValue }}</strong></span></label>
                    <div>
                    <input type="range" class="form-range" step="1" value="0" min="0" max="5" id="pro_activeness" (input)="updateRating('pro_activeness', 'proActivenessValue')">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="interest" style="font-size: 120%;">Interest Rate: <span id="interest_quality_value" class="value"><strong style="color: #0408e7; font-size: 120%;">{{ interestQualityValue }}</strong></span></label>
                    <div>
                    <input type="range" class="form-range" step="1" value="0" min="0" max="5" id="interest_quality" (input)="updateRating('interest_quality', 'interestQualityValue')">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="leadership_quality" style="font-size: 120%;">Leadership Quality: <span id="leadership_quality_value" class="value"><strong style="color: #0408e7; font-size: 120%;">{{ leadershipQualityValue }}</strong></span></label>
                    <div>
                    <input type="range" class="form-range"  min="0" max="5" value="0" step="1" id="leadership_quality" (input)="updateRating('leadership_quality', 'leadershipQualityValue')">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="problem_solving_ability" style="font-size: 120%;">Problem Solving Ability Value: <span id="problem_solving_ability_value" class="value"><strong style="color: #0408e7; font-size: 120%;">{{ problemSolvingAbilityValue }}</strong></span></label>
                    <div>
                    <input type="range" class="form-range"  step="1" min="0" max="5" value="0"  id="problem_solving_ability" (input)="updateRating('problem_solving_ability', 'problemSolvingAbilityValue')">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="comments" style="font-size: 120%;">Comments from Trainer: </label>
                    <div>
                    <textarea class="form-control" id="comments_from_trainer" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>


    </div>

<!-- Add canvas elements for charts -->
<!-- 
<div class="card">
    <canvas #chartCanvas id="feedbackChart" width="200" height="100"></canvas>
  </div> -->
  

</div>


