<!-- type.component.html -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title" class="text-primary">Training Details For: {{ course }}</h4>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-6">
            <div class="form-group">
              <label for="training_type">Training Category:</label>
              <div>{{ trainingDetails.training_category }}</div>
            </div>
      </div>
    
      <div class="col-md-6">
            <div class="form-group">
              <label for="training_type">Training Type:</label>
              <div>{{ trainingDetails.training_type }}</div>
            </div>
      </div>
    </div>
    
  


    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
            <label for="course_description">Course Description:</label>
            <div>{{ trainingDetails.course_description }}</div>
          </div>
      </div>
      
      <div class="col-md-6">
          <div class="form-group">
            <label for="prerequisites">Prerequisites:</label>
            <div>{{ trainingDetails.prerequisites }}</div>
          </div>
     </div>
    </div>

    <div class="row">
      <!-- <div class="col-md-6">
          <div class="form-group">
            <label for="from_time">From Time:</label>
            <div>{{ trainingDetails.from_time }}</div>
          </div>
      </div>

      <div class="col-md-6">
          <div class="form-group">
            <label for="to_time">To Time:</label>
            <div>{{ trainingDetails.to_time }}</div>
          </div>
        </div>
    </div> -->

    <div class="col-md-6">
    <div class="form-group">
      <label for="total_days">Total Days:</label>
      <div>{{ trainingDetails.total_days }}</div>
    </div>
  </div>
</div>


















<!-- employee-feedID.component.html -->
<!-- 
<div class="card">
    <div class="card-header">
      <h4 class="card-title" class="text-primary">Training Details For : {{  }}</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="training_type">Training Type:</label>
            <div>{{ feedID.training_type }}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="course_description">Course Description:</label>
            <div>{{ feedID.course_description }}</div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="prerequisites">Prerequisites:</label>
            <div>{{ feedID.prerequisites }}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="from_time">From Time:</label>
            <div>{{ feedID.from_time }}</div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="to_time">To Time:</label>
            <div>{{ feedID.to_time }}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="total_days">Total Days:</label>
            <div>{{ feedID.total_days }}</div>
          </div>
        </div>
      </div>
    
    </div>
  </div>

    -->
     <!--  <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="comments">Comments from Trainer:</label>
                <div>{{ feedID.comments }}</div>
            </div>
        </div>
      </div> -->