   <!-- Inside your component's HTML template -->
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Registration Details</h4>
        </div>
        <div class="card-body">
            <!-- <button class="btn btn-primary" routerLink="">Add Participants</button>
          <div class="form-group">
            <label for="search">Search:</label>
            <input class="col-md-3 form-control" type="text" id="search" [(ngModel)]="searchValue" (input)="applyFilter()">
          </div> -->
          <div class="d-flex justify-content-between">
            <div class="form-group">
              <label for="search">Search:</label>
              <input class="col-md-12 form-control" type="text" id="search" [(ngModel)]="searchValue" (input)="applyFilter()">
            </div>
            <button class="btn btn-primary" routerLink="/add-participants">Add Participants</button>
          </div>
          <div class="table-responsive text-nowrap table-container">
            <table class="table">
              <thead class="text-primary">
                <th *ngFor="let header of tableData1.headerRow" class="text-center">{{ header }}</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let row of filteredData; let i = index">
                  <tr class="expandable-row">
                    <td class="text-center">{{ row.reg_id }}</td>
                    <td class="text-center">{{ row.emp_code }}</td>
                    <td class="text-center">{{ row.emp_name }}</td>
                    <td class="text-center">{{ row.reg_date }}</td>
                    <td class="text-center">{{ row.c_name }}</td>
                    <td>{{ row.comments }}</td>
                    <td class="text-center">{{ row.status }}</td>
                    <td class="text-center">{{ row.response}}</td>
                    <td class="text-center">
                      <button class="btn btn-primary" (click)="toggleEditMode(i)">{{ row.actions }}</button>
                    </td>
                  </tr>
                  <tr *ngIf="isEditMode && i === rowIndexBeingEdited">
                    <td class="text-center">
                      <input [(ngModel)]="filteredData[i].reg_id" [disabled]="true"  class="text-center">
                    </td>
                    <td class="text-center">
                        <input [(ngModel)]="filteredData[i].emp_code" [disabled]="true"  class="text-center">
                    </td>
                    <td class="text-center">
                        <input [(ngModel)]="filteredData[i].emp_name" [disabled]="true"  class="text-center">
                    </td>
                    <td class="text-center">
                        <input [(ngModel)]="filteredData[i].reg_date" [disabled]="false"  class="text-center">
                    </td>
                    <td class="text-center">
                        <input [(ngModel)]="filteredData[i].c_name" [disabled]="false"  class="text-center">
                    </td>
                    <td>
                        <textarea rows="2" cols="50" type="text" [(ngModel)]="filteredData[i].comments" [disabled]="true"></textarea>
                    </td>
                    <td class="text-center">
                        <input [(ngModel)]="filteredData[i].status" [disabled]="false"  class="text-center">
                    </td>
                    <td class="text-center">
                        <input [(ngModel)]="filteredData[i].response" [disabled]="false" class="text-center">
                    </td>
                    <td class="text-center">
                      <button class="btn btn-success" (click)="saveChanges(i)">Save</button>&nbsp;
                      <button class="btn btn-success" (click)="cancelEdit()">Cancel</button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  