<div class="row">
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
           
            <canvas id="chartHistogram" width="400" height="400" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            
            <canvas id="chartPie" width="400" height="400" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card mt-3">
      <div class="card-body">
        <label class="mb-2">Month:</label>
        <select [(ngModel)]="selectedMonth" (change)="onMonthChange()" class="form-control custom-select mb-3">
          <option *ngFor="let month of monthOptions" [value]="month">{{ month }}</option>
        </select>

        <!-- <label class="mb-2">Filter:</label>
        <select [(ngModel)]="selectedFilter" (change)="onFilterChange()" class="form-control custom-select">
          <option value="all">All</option>
          <option value="completed">Completed</option>
          Add more filter options as needed
        </select> -->
      </div>
    </div>
  </div>
</div>
