<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Schedule Training</h5>
            </div>

            <div class="card-body">
                <form (ngSubmit)="onSubmit()" [formGroup]="trainingForm" class="col">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Trainer Name</label>
                                <select id="trainerName" name="trainerName" formControlName="trainerName" (change)="onSelectTrainer($event.target.value)" class="form-control" required>
                                    <option value="" disabled>Select Trainer</option>
                                    <option *ngFor="let trainer of trainers" [value]="trainer">{{ trainer }}</option>
                                </select>
                                
                                <div *ngIf="trainingForm.get('trainerName').invalid && (trainingForm.get('trainerName').dirty || trainingForm.get('trainerName').touched)">
                                    <small class="text-danger" *ngIf="trainingForm.get('trainerName').errors.required">Trainer Name is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Planned Start Date </label>
                                <input type="date" id="plannedStartDate" name="plannedStartDate" formControlName="plannedStartDate" class="form-control" required>
                                <div *ngIf="trainingForm.get('plannedStartDate').invalid && (trainingForm.get('plannedStartDate').dirty || trainingForm.get('plannedStartDate').touched)">
                                    <small class="text-danger" *ngIf="trainingForm.get('plannedStartDate').errors.required">Date is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Planned End Date </label>
                                <input type="date" id="plannedEndDate" name="plannedEndDate" formControlName="plannedEndDate" class="form-control" required>
                                <div *ngIf="trainingForm.get('plannedEndDate').invalid && (trainingForm.get('plannedEndDate').dirty || trainingForm.get('plannedEndDate').touched)">
                                    <small class="text-danger" *ngIf="trainingForm.get('plannedEndDate').errors.required">Date is required</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Actual Start Date</label>
                                <input type="date" id="actualStartDate" name="actualStartDate" formControlName="actualStartDate" class="form-control" required>
                                <div *ngIf="trainingForm.get('actualStartDate').invalid && (trainingForm.get('actualStartDate').dirty || trainingForm.get('actualStartDate').touched)">
                                    <small class="text-danger" *ngIf="trainingForm.get('actualStartDate').errors.required">Date is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Actual End Date </label>
                                <input type="date" id="actualEndDate" name="actualEndDate" formControlName="actualEndDate" class="form-control" required>
                                <div *ngIf="trainingForm.get('actualEndDate').invalid && (trainingForm.get('actualEndDate').dirty || trainingForm.get('actualEndDate').touched)">
                                    <small class="text-danger" *ngIf="trainingForm.get('actualEndDate').errors.required">Date is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>From Time </label>
                                <input type="time" id="fromTime" name="fromTime" formControlName="fromTime" class="form-control" required>
                                <div *ngIf="trainingForm.get('fromTime').invalid && (trainingForm.get('fromTime').dirty || trainingForm.get('fromTime').touched)">
                                    <small class="text-danger" *ngIf="trainingForm.get('fromTime').errors.required">Time is required</small>
                                </div>
                                <p>{{ trainingForm.value.fromTime | formatTime }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>To Time </label>
                                <input type="time" id="toTime" name="toTime" formControlName="toTime" class="form-control" required>
                                <div *ngIf="trainingForm.get('toTime').invalid && (trainingForm.get('toTime').dirty || trainingForm.get('toTime').touched)">
                                    <small class="text-danger" *ngIf="trainingForm.get('toTime').errors.required">Time is required</small>
                                </div>
                                <p>{{ trainingForm.value.fromTime | formatTime }}</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Status </label>
                                <select class="form-control" id="status" name="status" formControlName="status" required>
                                    <option value="" disabled>Select</option>
                                    <option value="PRE-DEFINED">On-Going</option>
                                    <option value="ON-REQUEST">Upcoming</option>
                                    <option value="PRE-DEFINED">Completed</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-end mt-3">
                        <div class="col-md-4">
                            <div class="d-flex justify-content-end">
                                <button type="reset" class="btn btn-primary mr-2">Cancel</button>
                                <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!trainingForm.valid">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
