<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/employee-search']">Employee Details</a></li>
      <li class="breadcrumb-item active" aria-current="page">Course Details</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header">
      <h4 class="card-title">Course Completion Details of Employee: 
        <span [class.text-primary]="true">{{ emp_code }}</span>
      </h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th class="text-primary text-center">Sr No.</th>
            <th class="text-primary text-center">Course Name</th>
            <th class="text-primary text-center">Trainer Name</th>
            <th class="text-primary text-center">Start Date</th>
            <th class="text-primary text-center">End Date</th>
            <th class="text-primary text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of completedCourses">
            <td class="text-center">{{ course.id }}</td>
            <td class="text-center">{{ course.name }}</td>
            <td class="text-center">{{ course.t_name }}</td>
            <td class="text-center">{{ course.s_date }}</td>
            <td class="text-center">{{ course.e_date }}</td>
            <td class="text-center">{{ course.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  